<template>
    <panel
        class="chat-win"
        :actions="true"
        :header="data.participant.display_name"
        :closable="true"
        :close="close"
        :minimized="data.minimized"
        :onMinimized="onMinimized"
        :onExpanded="onExpanded">

        <template slot="actions">
            <button type="button" class="icon-btn btn">
                <i class="fa fa-cog" aria-hidden="true"></i>
            </button>
        </template>

        <template>
            <div class="chat-win-content">
                <div class="text-center">
                    <i class="fa fa-circle-o-notch fa-spin fa-fw"></i> Loading
                </div>
                <ul class="p-0 m-0" style="list-style: none;">
                    <li
                        v-for="message in messages"
                        :key="message.id"
                        :class="[ message.logged_user_is_author ? 'sent' : 'received',
                            'chat-bubble-container clearfix' ]">

                        <img
                            v-if="!message.logged_user_is_author"
                            :src="data.participant.avatar._32"
                            style="float: left; width: 26px; margin-right: .5rem;"
                            class="card-media" />

                        <div :class="[ message.logged_user_is_author ? 'sent' : 'received', 'chat-bubble' ]">
                            {{ message.body }}
                        </div>
                    </li>
                </ul>
            </div>
        </template>

        <template slot="footer">
            <div class="chat-message-input">
                <form>
                    <div class="form-group mb-0">
                        <textarea
                            ref="messageBox"
                            title=""
                            class="form-control"
                            rows="1"
                            placeholder="Your message..."
                            v-model.trim="newMessage"
                            @keyup.13="sendMessage"></textarea>
                    </div>
                </form>
            </div>
        </template>
    </panel>
</template>

<script>
    import Panel from '../layout/Panel';
    import autosize from 'autosize';

    export default {
        props: [ 'data' ]
        , data() {
            return {
                minimized: false
                , newMessage: ''
                , messages: []
                , newMessageListener: 'new-message-' + this.$props.data.participant.id
            }
        }
        , mounted() {
            autosize(this.$el.querySelector('textarea'));
        }
        , created() {
            window.axios.get(`/api/v1/messages?with=${this.data.participant.id}`)
                .then(response => {
                    this.messages = this.messages.concat(response.data.data.reverse());
                })
                .catch(e => {});

            this.eventHub.$on(`new-message-${this.data.participant.id}`, (message) => this.messages.push(message));
        }
        , methods: {
            sendMessage() {
                window.axios.post(`/api/v1/messages`, {
                    message: this.newMessage
                    , to: this.$props.data.id
                }).then(response => {
                    // console.log(response)
                });

                this.messages.push({
                    body: this.newMessage
                    , date: new Date()
                    , logged_user_is_author: true
                });

                this.newMessage = '';
            }
            , onMinimized() {
                this.$store.commit('TOGGLE_MINIMIZE', { conversation: this.data, minimize: true } );
            }
            , onExpanded() {
                this.$store.commit('TOGGLE_MINIMIZE', { conversation: this.data, minimize: false } );
            }
            , close() {
                this.$store.commit('REMOVE_CONVERSATION', this.data);
            }
        }
        , components: {
            Panel
        }
    }
</script>

<style scoped>

</style>