<template>
    <div class="conversation-wrapper d-flex justify-content-end" v-resize:throttle.1000="resizeWin">
        <div class="hidden-conversations">
            <i class="fa fa-comments-o" aria-hidden="true"></i>
            <div class="counter">
                <span class="badge badge-info">{{hiddenCount}}</span>
            </div>
        </div>
        <transition-group
            name="horizontal-list"
            tag="ul"
            class="conversations-container"
            v-resize:debounce="handleUpdate">

            <li
                v-for="conversation in activeConversations"
                class="chat-win-container list-item"
                :key="conversation.id" v-show="!conversation.hidden">

                <chat-win :data="conversation"></chat-win>
            </li>
        </transition-group>
    </div>
</template>

<script>
    import ChatWin from './ChatWin';

    export default {
        name: "Conversations"
        , data() {
            return {
                conversationsMaxAvailableSpace: 0
                , spaceAvailable: 0
                , conversationMinimizedWidth: 12 + 1
                , conversationFullWidth: 16 + 1
                , containersToRemove: 0
                , extractHidden: false
                , container: ''
            }
        }
        , computed: {
            activeConversations() {
                return this.$store.getters.activeConversations;
            }
            , hiddenConversations() {
                return this.$store.getters.activeConversations.filter(item => item.hidden);
            }
            , hiddenCount() {
                return this.$store.getters.activeConversations.filter(item => item.hidden).length;
            }
        }
        , created() {
            Echo.private(`message-${window.App.user.id}`)
                .listen('MessageCreated', e => {
                    console.log(e.message);
                    // console.log(this)
                    // console.log("Received message");
                    // this.$emit('new-message-' + e.author.id, e.message);
                    // this.eventHub.$emit('message', e);

                    // this.$store.dispatch('addMessageToConversation', {
                    //     message: e.message
                    //     , participant: e.author
                    // });
                });
            // this.eventHub.$on('message', (ev) => this.addMessageToConversation(ev));
        }
        , mounted() {
            this.container = this.$el.querySelector(':scope > ul');
            this.hiddenConversationsContainer = this.$el.querySelector(':scope > .hidden-conversations');
        }
        , methods: {
            pxToRem(px) {
                return px / parseFloat(getComputedStyle(document.documentElement).fontSize);
            }
            , handleUpdate() {
                const elementStyles = getComputedStyle(this.$el);

                this.conversationsMaxAvailableSpace = parseFloat(elementStyles.width) - parseFloat(elementStyles.paddingRight);

                if (this.hiddenConversationsContainer) {
                    const hiddenConversationsStyles = getComputedStyle(this.hiddenConversationsContainer);
                    this.conversationsMaxAvailableSpace -= this.hiddenConversationsContainer.offsetWidth +
                        parseFloat(hiddenConversationsStyles.marginRight) + parseFloat(hiddenConversationsStyles.marginLeft) +
                        parseFloat(hiddenConversationsStyles.borderRightWidth) + parseFloat(hiddenConversationsStyles.borderLeftWidth);
                }
                this.conversationsMaxAvailableSpace = this.pxToRem(this.conversationsMaxAvailableSpace)/* - 6.25*/;

                let occupiedSpace = this.pxToRem(this.container.offsetWidth)
                    , freeSpace = this.conversationsMaxAvailableSpace - occupiedSpace
                    , spaceAvailable = freeSpace
                    , containersToRemove = 0;

                if (freeSpace < this.conversationFullWidth) {
                    Array.prototype.slice.call(this.container.querySelectorAll(':scope > li')).some(item => {
                        if (item.offsetWidth > 0 && item.offsetHeight > 0) {
                            const itemsStyle = getComputedStyle(item);
                            freeSpace += this.pxToRem(
                                item.offsetWidth +
                                parseFloat(itemsStyle.marginRight) + parseFloat(itemsStyle.marginLeft) +
                                parseFloat(itemsStyle.borderRightWidth) + parseFloat(itemsStyle.borderLeftWidth)
                            );

                            containersToRemove++;
                        }
                        return freeSpace >= this.conversationFullWidth
                    });
                }

                console.log(containersToRemove)
                if (containersToRemove) {
                    this.$store.commit('SET_HIDE_BEFORE_ADDING', containersToRemove);
                }

                spaceAvailable = spaceAvailable >= this.conversationFullWidth ?
                    'large' :
                    spaceAvailable >= this.conversationMinimizedWidth ?
                        'small' : false;

                if (spaceAvailable) {
                    this.$store.commit('SET_CONVERSATION_VISIBLE', spaceAvailable);
                }
            }
            , addMessageToConversation(ev) {
                const conversation = this.$store.getters.activeConversations.find(o => o.id === ev.author.id);

                if (!conversation) {
                    const participant = Object.assign({}, ev.author);
                    delete participant.last_message;

                    this.$store.commit('OPEN_CONVERSATION', participant);
                } else {
                    this.eventHub.$emit('new-message-' + ev.author.id, ev.message);
                }
            }
            , resizeWin() {
                console.log("Resize");
                this.computeConversationsMaxAvailableSpace();

                let occupiedSpace = this.pxToRem(this.container.offsetWidth)
                    , freeSpace = this.conversationsMaxAvailableSpace - occupiedSpace
                    , spaceAvailable = freeSpace;

                const reverseHidden = this.hiddenConversations.reverse();

                if (typeof reverseHidden[0] !== 'undefined' && spaceAvailable > (reverseHidden[0].minimized ?
                    this.conversationMinimizedWidth :
                    this.conversationFullWidth)
                ) {
                    let spaceAvailableLeft = spaceAvailable;

                    for (let i = 0, hiddenLength = reverseHidden.length; i < hiddenLength; i++) {
                        let hiddenConversationWidth = reverseHidden[i].minimized ?
                            this.conversationMinimizedWidth : this.conversationFullWidth;

                        if (spaceAvailableLeft - hiddenConversationWidth > 0) {
                            this.$store.commit('SET_CONVERSATION_VISIBLE', reverseHidden[i].minimized ? 'small' : 'large');

                            spaceAvailableLeft -= hiddenConversationWidth;
                        } else {
                            break;
                        }
                    }
                } else if (typeof this.activeConversations[0] !== 'undefined' && spaceAvailable <= 0) {
                    console.log('Space available:', spaceAvailable);

                    this.$store.commit('HIDE_CONVERSATIONS', 1);
                }
            }
            , computeConversationsMaxAvailableSpace() {
                const elementStyles = getComputedStyle(this.$el);

                this.conversationsMaxAvailableSpace = parseFloat(elementStyles.width) - parseFloat(elementStyles.paddingRight);

                if (this.hiddenConversationsContainer) {
                    const hiddenConversationsStyles = getComputedStyle(this.hiddenConversationsContainer);
                    this.conversationsMaxAvailableSpace -= this.hiddenConversationsContainer.offsetWidth +
                        parseFloat(hiddenConversationsStyles.marginRight) + parseFloat(hiddenConversationsStyles.marginLeft) +
                        parseFloat(hiddenConversationsStyles.borderRightWidth) + parseFloat(hiddenConversationsStyles.borderLeftWidth);
                }
                this.conversationsMaxAvailableSpace = this.pxToRem(this.conversationsMaxAvailableSpace)/* - 6.25*/;
            }
        }
        , components: {
            ChatWin
        }
    }
</script>