<template>
    <div class="sidebar-right friends-sidebar">
        <searchable-list
            :url="url"
            :display-component="listUserComponent"
            :on-item-click="openChatWin"
            :on-load="onLoad"
        ></searchable-list>
    </div>
</template>

<script>
    import SearchableList   from '../lists/SearchableList';
    import ListUser         from '../users/ChatListLayout';

    export default {
        data() {
            return {
                listUserComponent: ListUser
            }
        }
        , props: {
            url: String
        }
        , methods: {
            openChatWin(friend) {
                const participant = Object.assign({}, friend);
                delete participant.last_message;

                this.$store.commit('OPEN_CONVERSATION', participant);
            }
            , onLoad(friends) {}
        }

        , components: {
            SearchableList
        }
    }
</script>