<template>
    <tiny v-model="data" :init="tiny"></tiny>
</template>

<script>
    import 'tinymce/tinymce';
    import 'tinymce/themes/modern/theme';
    import 'tinymce/plugins/image';
    import 'tinymce/plugins/imagetools';
    import 'tinymce/plugins/paste';
    import 'tinymce/plugins/autolink';
    import 'tinymce/plugins/link';
    import 'tinymce/plugins/lists';
    import 'tinymce/plugins/autoresize';
    import 'tinymce/plugins/code';
    import 'tinymce/plugins/hr';
    import 'tinymce/plugins/textpattern';
    import 'tinymce/plugins/help';

    import Tiny from '@tinymce/tinymce-vue';

    export default {
        name: "Editor"
        , props: [ 'value' ]
        , data() {
            return {
                data: this.value
                , tiny: {
                    skin_url: 'tinymce/skins/round'
                    , content_css: '/css/editor-content.css'
                    , plugins: 'image imagetools paste autolink link lists autoresize code hr textpattern help'
                    , statusbar: false
                    , menubar: false
                    , paste_data_images: true
                    , images_upload_url: '/temp/upload'
                    , images_upload_credentials: true
                    , toolbar1: 'formatselect hr | bold italic underline | image link | alignleft aligncenter alignright alignjustify | numlist bullist outdent indent | removeformat code '
                    , toolbar2: 'help'
                    , autoresize_bottom_margin: 0
                    , autoresize_on_init: true
                }
            }
        }
        , watch: {
            data(val) {
                this.$emit('input', val);
            }
        }
        , components: {
            Tiny
        }
    }
</script>
