<template>
    <div
        :class="[
            'file-dropzone',
            'd-flex align-items-center justify-content-center',
            {
                'has-advanced-upload': isAdvancedUpload,
                'is-dragover': isDragOver
            }
        ]"
        ref="dropzone"
        @drag.prevent.stop
        @dragstart.prevent.stop
        @dragover.prevent.stop="isDragOver = true"
        @dragenter.prevent.stop="isDragOver = true"
        @dragleave.prevent.stop
        @dragend.prevent.stop="isDragOver = false"
        @drop.prevent.stop="dropFilesInPlace"
    >
        <label class="upload-handle">
            <strong>Choose a file</strong
            ><span class="pl-1">or drag it here</span>
            <input
                type="file"
                multiple
                :name="fieldName"
                @change="imageSelected"
            />
        </label>

        <div
            ref="previewContainer"
            :class="['file-upload-preview', { empty: !imagePreview }]"
        >
            <img
                v-for="(file, key) in files"
                :key="key"
                :src="createFilePreviewString(filePreviews[key])"
                class="image-preview"
                alt=""
            />
        </div>
        <div class="file-upload-actions">
            <a
                v-if="!animationLoading"
                href="#"
                class="cancel-image"
                @click="removeImage"
            >
                <i class="fa fa-times" aria-hidden="true"></i>
                <strong>Remove image</strong>
            </a>
        </div>
    </div>
</template>

<script>
import LineBullets from "../layout/loaders/LineBullets";

export default {
    name: "Upload",
    components: {
        LineBullets
    },
    props: ["name", "value"],
    data() {
        return {
            files: this.value,
            filePreviews: [],
            isDragOver: false,
            imagePreview: false,
            animationLoading: false,
            isAdvancedUpload: false
        };
    },

    watch: {
        files(files) {
            this.$emit("update", files);
        }
    },
    computed: {
        fieldName() {
            return this.$props.name || "image";
        }
    },
    mounted() {
        const tempElement = document.createElement("div");
        this.isAdvancedUpload =
            "draggable" in tempElement ||
            ("ondragstart" in tempElement &&
                "ondrop" in tempElement &&
                "FormData" in window &&
                "FileReader" in window);
    },
    methods: {
        imageSelected(ev) {
            this.previewImage(ev.target);
        },
        dropFilesInPlace(ev) {
            this.isDragOver = false;
            this.previewImage(ev.dataTransfer);
        },
        previewImage(handler) {
            if (!this.isAdvancedUpload) {
                return false;
            }

            this.files = handler.files;

            this.animationLoading = true;

            for (let i in this.files) {
                if (this.files.hasOwnProperty(i)) {
                    const reader = new FileReader();

                    this.filePreviews.push(handler.files[i]);
                    reader.readAsDataURL(handler.files[i]);

                    reader.onload = ev => {
                        this.filePreviews.push(ev.target.result);
                        this.animationLoading = false;
                    };
                }
            }
        },
        removeImage() {
            this.$el.querySelector('input[type="file"]').value = "";
        },
        createFilePreviewString: file => window.URL.createObjectURL(file)
    }
};
</script>
