.icon-btn {
  text-shadow: 1px 1px darken($appBgColor, 5%);
  background-color: transparent;
  //border-radius: 999px;
  cursor: pointer;
  padding: .3rem;
  width: 1.7rem;
  border: none;

  // On .app-bg background
  .app-bg & {
    @extend .app-bg-text;
    line-height: 1rem;

    &:active {
      background-color: darken($appBgColor, 10%);
      transition: background-color, color 200ms linear;
      @extend .app-bg-focus-text;
    }

    &:hover {
      transition: color 200ms linear;
      @extend .app-bg-hover-text;
    }
  }

  &:focus {
    box-shadow: none;
  }
}

button:focus {
  outline: none;

}