@import "chat-win";

.friends-sidebar {
  .search-friends {
    flex: 1;
  }

  .icon-btn {
    font-size: 1.1rem;
  }
}

.conversations-container {
  list-style: none;
  display: flex;
  padding: 0;
}

.chat-win-container {
  align-self: flex-end;
  margin-right: 1rem;
}

.hidden-conversations {
  margin-bottom: 1rem;
  position: fixed;
  margin-left: 1rem;
  z-index: 1;
  bottom: 0;
  left: 0;

  & > .counter {
    position: absolute;
    right: -10px;
    top: -10px;
  }
}

.conversation-wrapper {
  padding-right: $sideBarWidth;
  pointer-events: none;
  margin-bottom: 1rem;
  position: fixed;
  width: 100%;
  bottom: 0;
  right: 0;

  & > * {
    pointer-events: all;
  }

  & > .conversations-container {
    pointer-events: none;

    & > * {
      pointer-events: all;
    }
  }
}