.chat-win {
  max-height: 22rem;

  &.contentfull {
    width: 16rem;
    height: 22rem;
  }

  &:not(.contentfull) {
    transition: width .2s ease-in;
    width: 12rem;
  }

  & > .card-body {
    padding: 0 0 0 .5rem;
  }

  .chat-win-content {
    overflow: auto;
  }

  .chat-message-input {
    textarea {
      @include scrollbars(12px, $white, #888888);
      max-height: 13rem;

      &:focus {
        box-shadow: none;
      }
    }
  }
}

.chat-bubble-container {
  &.received + &.sent, &.sent + &.received {
    margin-top: .5rem;
  }

  &:first-child {
    margin-top: 1rem;
  }

  &:last-child {
    margin-bottom: 1rem;
  }
}

.chat-bubble {
  @if $enable-shadows {
    box-shadow: $box-shadow-sm;
    border: none;
  }
  @if $enable-rounded {
    border-radius: .25rem;
  }
  padding: ($spacer / 4) ($spacer / 2);
  max-width: calc(100% - 2.5rem);
  font-size: 95%;
  margin: .1rem 0;

  &.sent {
    background-color: $green;
    color: $white;
    float: right;
  }

  &.received {
    background-color: $gray-200;
    float: left;
  }
}
