.dropdown-menu {
  font-size: inherit;
}

.dropdown-menu .arrow {
  border-color: $white;
  border-style: solid;
  position: absolute;
  margin: .3rem;
  height: 0;
  width: 0;
}

.dropdown-menu {
  .arrow {
    border-width: 0 .3rem .3rem .3rem;
    border-right-color: transparent;
    border-left-color: transparent;
    border-top-color: transparent;
    left: calc(50% - .3rem);
    margin-bottom: 0;
    margin-top: 0;
    top: -.3rem;
  }

  &.dropdown-menu-right .arrow {
    left: calc(100% - 1.35rem);
  }
}