#app .mce-tinymce {
  @if $enable-rounded {
    @include border-radius($border-radius);
  }

  .mce-top-part {
    > .mce-container-body > .mce-container {
      width: 100%;

      .mce-container-body {
        display: flex;
        justify-content: space-between;
      }
    }
  }

  .mce-edit-area {
    @include border-bottom-radius($border-radius);

    iframe {
      @include border-bottom-radius($border-radius);
    }
  }

  .mce-btn {
    background-color: transparent;

    &:hover, &:focus {
      border-color: transparent;
    }

    &.active, &.active:hover, &.mce-active, &.mce-active:hover {
      border-color: transparent;
    }

    i {
      text-shadow: none;
    }

    button {
      color: $appTextColor;
      padding: .25rem .4rem;

      .mce-ico {
        //font-size: .875rem;
        @extend .app-bg-text;
      }
    }
  }
}

.mce-floatpanel {
  @if $enable-shadows {
    border: none !important;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.175);
  }
}

.mce-listbox {
  .mce-caret {
    border-top-color: $appTextColor;
  }
}

.mce-toolbar-grp {
  @if $enable-rounded {
    @include border-top-radius($border-radius);
  }

  &.mce-panel {
    @extend .app-bg;
  }
}

.mce-menubtn {
  button {
    color: $appTextColor !important;
  }

  &.mce-fixed-width {
    span {
      width: auto !important;
      padding-right: 1rem;
    }
  }
}