body {
  background-color: $mainBackgroundColor;
  font-size: 14px;
}

ol, ul, dl {
  margin-bottom: 0;
}

.no-list-style {
    list-style: none;
}

.header-left {
  flex: 1;
}

.feeds {
  width: 550px;
}

main.container {
  margin-top: 4rem;
}

.overflow-visible {
    overflow: visible;
}

.app-main-search-container {
  width: 100%;

  .app-main-search {
    max-width: 25rem;
    width: 90%;
  }
}

.actions-nav-bar {
  padding: .5rem;
  width: 100%;

  & > .actions {
    margin-left: 1rem;
  }
}

.infinite-loading-container *[class^=loading-] {
  height: 1rem !important;
  width: 1rem !important;
}

.Masthead {
  z-index: auto !important;
}

.app-bg {
  background-color: $appBgColor;
  @extend .app-bg-text;

  .form-control::placeholder {
    color: lighten($appBgColor, 40%);
    opacity: 1;
  }

  .form-control:-ms-input-placeholder {
    color: lighten($appBgColor, 40%);
  }

  .form-control::-ms-input-placeholder {
    color: lighten($appBgColor, 40%);
  }

  input[type="search"] {
    border-color: darken($appBgColor, 3%);
    background-color: $white;
    padding: .2rem .5rem;
    box-shadow: none;

    &.empty {
      background-color: lighten($appBgColor, 10%);
    }

    &:focus {
      transition: background-color 200ms linear;
      background-color: $white;
    }
  }
}

.app-bg-text {
  color: $appTextColor;
}

.app-bg-hover-text {
  color: lighten($appTextColor, 7%);
}

.app-bg-focus-text {
  color: lighten($appTextColor, 15%);
}

.section-sidebar {
    min-width: 14.5rem;
    position: sticky;
    top: 4rem;
    flex: 1;

    &:first-child {
        margin-right: 3rem;
    }

    *:not(.section-sidebar) ~ & {
        margin-left: 3rem;
    }

    & .section-sidebar-content {
        padding-top: 1.5rem;
    }
}

.panel-avatar {
    position: absolute;
    top: 3rem;
    lefT: 50%;

    & > img {
        position: relative;
        left: -50%;
        border: 3px solid $white;
    }
}

.two-columns {
  width: 830px;
}

.fixed-sidebar {
  height: calc(100vh - #{$navbarHeight});
  margin-top: $navbarHeight;
  background-color: $white;
  width: $sideBarWidth;
  position: fixed;
  display: flex;
  z-index: 1;
  top: 0;

  &.fixed-sidebar-right {
    right: 0;
  }

  &.fixed-sidebar-left {
    left: 0;
  }
}
