.list-container {
  height: 100%;
  width: 100%;
  @include flexbox();
  flex-direction: column;
}

.list {
  @include scrollbars(12px, $white, #888888);
  list-style: none;
  overflow: auto;
  width: 100%;
  padding: 0;
  flex: 1;

  & > .list-item {
    & > a {
      padding: .5rem 1rem;
      color: inherit;
      display: inline-block;

      &:hover {
        background-color: $gray-100;
        text-decoration: none;
      }

      .title {
        font-weight: 600;
      }
    }
  }
}

.list-item {
  transition: all .200s;
}

.horizontal-list-enter {
  opacity: 0;
  transform: translateX(16rem);
}

.horizontal-list-leave-to {
  opacity: 0;
  transform: translateY(22rem);
}

.vertical-list-enter, .vertical-list-leave-to {
  opacity: 0;
  transform: translateY(3rem);
}

/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
  /* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}