@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white, 50%), $padding: .2rem) {
  &::-webkit-scrollbar {
    width:  $size;
    height: $size;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $background-color;
    border-radius: 8px;

    @if $padding != 0 {
      border: $padding solid $foreground-color;
    }

    &:hover {
      background-color: darken($background-color, 20%);
    }
  }
}

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
