.app-navbar {
  box-shadow: 0 1px 14px -2px $black;
  //box-shadow: 0 1px 8px rgba(0,0,0,.3);
  height: $navbarHeight;
  padding-bottom: 0;
  padding-top: 0;
  z-index: 2;

  .user-avatar {
    margin-right: .5rem;
    height: 1.75rem;
    width: 1.75rem;
  }
}

.navbar-nav .nav-link {
  color: $appTextColor !important;

  &:hover {
    color: lighten($appTextColor, 7%) !important;
  }

  &:focus {
    color: lighten($appTextColor, 15%) !important;
  }
}