.card {
    position: relative;

    @if $enable-shadows {
        box-shadow: $box-shadow-sm;
        border: none;
    }

    @if $enable-rounded {
        & > div:not([style*="display: none"]):not([style*="display:none"]):last-child {
            @include border-bottom-radius($border-radius);
        }
    }

    .panel-image {
        @if $enable-rounded {
            @include border-top-radius($border-radius);
        }
    }
}

.card-body {
    .card > &:not(:first-child) {
        @if $enable-shadows {
            box-shadow: inset $box-shadow-sm;
        }
    }

    @include scrollbars(12px, $white, #888888);
    overflow: auto;
}

.panel-banner {
    overflow: hidden;

    > img {
        object-fit: cover;
    }
}
