//.file-upload-container {
//  border: $border-width solid $border-color;
//  transition: background-color .2s linear;
//  @include border-radius($border-radius);
//  background-color: $white;
//  position: relative;
//  display: flow-root;
//
//  &.has-advanced-upload {
//    &.is-dragover {
//      background-color: rgba(lighten($primary, 0%), 1);
//      //background-color: #8fc5ff;
//
//      .file-label {
//        pointer-events: none;
//      }
//
//      .image-preview-actions {
//        color: color-yiq($primary);
//      }
//
//      & > .file-upload {
//        outline-offset: -1rem;
//      }
//
//      &:not(.empty) {
//        > .file-upload {
//          background-color: rgba(lighten($primary, 15%), .7);
//          color: color-yiq($primary);
//        }
//      }
//
//      &.empty {
//        & > .file-upload {
//          background-color: lighten($primary, 15%);
//          color: color-yiq($primary);
//        }
//      }
//    }
//  }
//
//  color: $gray-800;
//
//  a {
//    text-decoration: none;
//    color: inherit;
//
//    &:hover {
//      color: $link-hover-color;
//      text-decoration: none;
//    }
//  }
//
//}
//
//.file-upload {
//  transition: background-color 200ms linear, outline-offset 200ms linear;
//  outline: 2px dashed $border-color;
//  outline-offset: -.625rem;
//  //position: absolute;
//  height: 100%;
//  width: 100%;
//  top: 0;
//
//  .file-upload-label {
//    background-color: rgba($white, 0.5);
//    border-radius: 20rem;
//    padding: .4rem 2rem;
//    cursor: pointer;
//    margin: 0;
//
//    &:hover {
//      > strong {
//        color: $link-hover-color;
//        text-decoration: none;
//      }
//    }
//  }
//
//  input[type="file"] {
//    position: absolute;
//    overflow: hidden;
//    height: .1px;
//    width: .1px;
//    z-index: -1;
//    opacity: 0;
//  }
//}
//
//.image-preview-container {
//  text-align: center;
//  min-height: 6rem;
//  width: 100%;
//
//  &:empty {
//    visibility: hidden;
//  }
//
//  .image-preview {
//    width: 100%;
//    max-height: 19rem;
//    object-fit: cover;
//  }
//}
//
//.image-preview-actions {
//  background-color: rgba($white, .5);
//  transition: color 200ms linear;
//  margin: 0 1rem 1rem 1rem;
//  width: calc(100% - 2rem);
//  border-radius: 20rem;
//  padding: .4rem 2rem;
//  position: absolute;
//  bottom: 0;
//
//  &:empty {
//    display: none;
//  }
//
//  .loading-animation {
//    margin-bottom: .5rem;
//  }
//}






.file-dropzone {
  transition: background-color .2s linear, outline-offset .2s linear;
  border: $border-width solid $border-color;
  @if $enable-rounded {
    @include border-radius($border-radius);
  }
  outline: 2px dashed #dee2e6;
  background-color: $white;
  outline-offset: -.5rem;
  flex-direction: column;
  position: relative;
  min-height: 5rem;

  &.is-dragover {
    background-color: $primary;
    outline-offset: -.8rem;

    * {
      pointer-events: none;
    }
  }

  input[type="file"] {
    position: absolute;
    overflow: hidden;
    z-index: -1;
    opacity: 0;
  }
}

.upload-handle {
  box-shadow: 0 4px 10px -6px rgba($black, .7);
  background-color: rgba($white, .7);
  border-radius: 20rem;
  padding: .4rem 2rem;
  position: absolute;
  margin-bottom: 0;
  cursor: pointer;

  &:hover {
    > strong {
      color: $link-hover-color;
      text-decoration: none;
    }
  }
}

.file-upload-preview {
  width: 100%;

    .image-preview {
        transition: opacity .2s linear;
        object-fit: cover;
        max-height: 19rem;
        width: 100%;

        @if $enable-rounded {
          @include border-radius($border-radius);
        }

        .is-dragover & {
          opacity: .1;
        }
    }
}

.file-upload-actions {
  box-shadow: 0 4px 10px -6px rgba($black, .7);
  background-color: rgba($white, .7);
  border-radius: 20rem;
  padding: .4rem 2rem;
  margin-bottom: 1rem;
  position: absolute;
  bottom: 0;

  a {
    color: inherit;

    &:hover {
      color: $link-hover-color;
      text-decoration: none;
    }
  }
  
  &:empty {
    display: none;
  }
}

