@function theme-color($key: "primary") {
  @return map-get($theme-colors, $key);
}

//$mainBackgroundColor: #EFEFEF;
//$mainBackgroundColor: $gray-100;
$mainBackgroundColor: #f1f1f1;

$sideBarWidth: 18.75rem;
//$sectionSideBarWidth: 14rem;
$navbarHeight: 3.19rem;


// ****** Bootstrap Overrides ******
$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

$blue:    #429dff;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #e83e8c;
$red:     #dc3545;
$orange:  #fd7e14;
$yellow:  #ffc107;
$green:   #28a745;
$teal:    #20c997;
$cyan:    #17a2b8;

$primary:       $blue;
$secondary:     $gray-600;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-800;

$theme-colors: ();
$theme-colors: map-merge(
  (
    "primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "info": $info,
    "warning": $warning,
    "danger": $danger,
    "light": $light,
    "dark": $dark
  ),
  $theme-colors
);

$font-size-base: .875rem;
$enable-rounded:  true;
$enable-shadows:  true;
$box-shadow-sm:   0 .187rem .375rem -.187rem rgba($black, .6);

//$navbar-padding-x: 1rem;
// ****** End Bootstrap Overrides ******

$appBgColor:      $gray-800;
//$appBgColor:      $indigo;
//$appTextColor:    #a3a5a6;
$appTextColor: lighten($appBgColor, 40%);

$component-active-bg: theme-color("primary");

$input-focus-border-color: lighten($component-active-bg, 15%);

$border-width: 1px;
$border-color: $gray-300;
