<template>
    <div class="d-flex text-truncate box overflow-visible">
        <img
            :src="media"
            class="card-media align-self-center">

        <div class="right ml-2 text-truncate align-self-center">
            <slot>
                    <div><span class="title text-truncate mr-auto">
                    <b>{{ title }}</b>
                </span></div>
            </slot>

            <span class="extra-info text-muted">{{ extra }}</span>
        </div>

        <slot name="actions"></slot>
    </div>
</template>

<script>
    export default {
        props: [
            'media'
            , 'mediaClass'
            , 'title'
            , 'extra'
        ]
        , name: 'app-card'
    }
</script>
