<template>
    <nav class="app-navbar navbar fixed-top navbar-expand-md navbar-dark app-bg">

        <div class="container">
            <b-navbar-brand v-bind:to="{ name: 'home' }">
                Younnite
            </b-navbar-brand>

            <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">

                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Left Side Of Navbar -->
                <ul class="navbar-nav mr-auto d-flex header-left">
                    <li class="nav-item">
                        <router-link :to="{ name: 'browse' }" class="nav-link">Browse</router-link>
                    </li>
                    <li class="nav-item d-flex w-100">
                        <form class="form-inline app-main-search-container">
                            <input
                                type="search"
                                title="Search"
                                placeholder="Search"
                                :class="[ 'form-control form-control-sm app-main-search', { empty: !searchTerm } ]"
                                v-model="searchTerm"
                                @keyup="doSearch">
                        </form>
                    </li>
                </ul>

                <!-- Right Side Of Navbar -->
                <ul class="navbar-nav">
                    <!-- Authentication Links -->
                    <li v-if="!user">
                        <router-link to="/login" class="nav-link">Login</router-link>
                    </li>
                    <li v-if="!user">
                        <router-link to="/register" class="nav-link">Register</router-link>
                    </li>

                    <li v-if="user" class="nav-item">
                        <router-link to="#" class="nav-link">
                            <i class="fa fa-envelope-o" aria-hidden="true"></i>
                        </router-link>
                    </li>
                    <li v-if="user" class="nav-item">
                        <router-link to="#" class="nav-link">
                            <i class="fa fa-bell-o" aria-hidden="true"></i>
                        </router-link>
                    </li>
                    <li v-if="user" class="nav-item dropdown">
                        <a
                            class="nav-link dropdown-toggle"
                            href="#"
                            role="button"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">

                            <img :src="user.avatar._32" alt="Profile" class="user-avatar rounded-circle">
                            <span class="align-self-center">
                                {{ user.display_name }}
                            </span>
                        </a>

                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <router-link class="dropdown-item" :to="{ name: 'profile' }">
                                <i class="fa fa-user-circle-o" aria-hidden="true"></i> Profile
                            </router-link>
                            <router-link class="dropdown-item" :to="{ name: 'settings' }">
                                <i class="fa fa-cog" aria-hidden="true"></i> Settings
                            </router-link>
                            <a class="dropdown-item" href="#" @click.prevent="logout">
                                <i class="fa fa-sign-out" aria-hidden="true"></i> Sign out
                            </a>

                            <div class="arrow"></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</template>

<script>
    export default {
        data() {
            return {
                searchTerm: ''
                , delaySearch: ''
            }
        }
        , computed: {
            user() {
                return window.App.user;
            }
        }
        , methods: {
            logout() {
                window.axios.post('/logout');
            }
            , doSearch() {
                clearTimeout(this.delaySearch);
                this.delaySearch = setTimeout(function() {}.bind(this), 250);
            }
        }
    }
</script>

<style scoped>

</style>
