<template>
    <b-card no-body :class="{ contentfull: isExpanding || isExpanded }">
        <!-- Header -->
        <div
            v-if="header"
            :class="[ 'app-bg-color app-bg-text-color card-header py-1 px-2', headerBgColor, headerTextColor ]">

            <div class="d-flex justify-content-between">
                <!-- Header text -->
                <div :class="[{ 'mx-auto': centerHeaderText }, 'text-truncate header-left']">
                    <template name="header">{{ header }}</template>
                </div>
                <!-- End header text -->

                <!-- Header actions -->
                <div v-if="headerHasActions || closable" class="actions">
                    <div
                        :class="[ headerTextColor, 'action-buttons', 'btn-group' ]"
                        role="group"
                        aria-label="Panel header actions group">

                        <button
                            type="button"
                            class="icon-btn btn"
                            v-b-toggle="'collapsible-panel-' + unique">

                            <i
                                v-if="isExpanding || isExpanded"
                                class="fa fa-compress fa-rotate-90"
                                aria-hidden="true"></i>
                            <i v-else
                               class="fa fa-expand fa-rotate-90"
                               aria-hidden="true"></i>
                        </button>

                        <slot name="actions"></slot>

                        <button v-if="closable" type="button" class="icon-btn btn" @click="closePanel">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
                <!-- End header actions -->
            </div>
        </div>
        <!-- End header -->

        <!-- Panel image -->
        <div v-if="panelImage" class="panel-banner" :style="{ height: panelImageHeight }">
            <img :src="panelImage" :style="{ height: panelImageHeight }" class="card-img-top" alt="very cool bg">
        </div>
        <!-- End panel image -->

        <b-collapse
            visible
            v-show="isExpanding || isExpanded"
            class="card-body"
            @hide="markMinimize"
            @hidden="markMinimized"
            @show="markExpand"
            @shown="markExpanded"
            :id="'collapsible-panel-' + unique">

            <!-- Panel body -->
            <h5 v-if="title" class="card-title text-truncate">{{ title }}</h5>
            <h6 v-if="subtitle" class="card-subtitle mb-2 text-muted">{{ subtitle }}</h6>

            <slot></slot>
            <!-- End panel body -->
        </b-collapse>

        <!-- Panel footer -->
        <div v-if="(isExpanding || isExpanded) && footerIsVisible && footerHasContent" class="card-footer p-1">
            <slot name="footer"></slot>
        </div>
        <!-- End panel footer -->
    </b-card>
</template>

<script>
    import uuid from 'uuid/v1';

    export default {
        props: [
            'actions', 'closable', 'panelImage', 'panelImageHeight', 'title', 'subtitle', 'centerHeaderText',
            'header', 'header-bg-variant', 'header-text-variant', 'minimized', 'close', 'onMinimize',
            'onMinimized', 'onExpand', 'onExpanded'
        ]
        , data() {
            return {
                isMinimized: this.$props.minimized
                , isMinimizing: false
                , isExpanding: false
                , isExpanded: ! this.$props.minimized
            }
        }
        , updated() {
            const container = this.$el.querySelector('.card-body');
            if (container) {
                container.scrollTop = container.scrollHeight;
            }
        }
        , computed: {
            unique() {
                return uuid();
            }
            , bodyIsVisible() {
                return typeof this.bodyVisible !== 'undefined' ? this.bodyVisible : true;
            }
            , footerIsVisible() {
                return typeof this.footerVisible !== 'undefined' ? this.footerVisible : true;
            }
            , headerHasActions() {
                return typeof this.actions !== 'undefined' ? this.actions : true;
            }
            , footerHasContent() {
                return typeof this.$slots.footer !== 'undefined';
            }
            , headerBgColor() {
                return this.headerBgVariant ? `bg-${this.headerBgVariant}` : 'app-bg';
            }
            , headerTextColor() {
                return this.headerTextVariant ? `text-${this.headerTextVariant}` : 'app-bg-text';
            }
        }
        , methods: {
            setAll(value) {
                this.isMinimized    = value;
                this.isMinimizing   = value;
                this.isExpanded     = value;
                this.isExpanding    = value;
            }
            , markMinimize() {
                this.setAll(false);
                this.isMinimizing = true;
                if (typeof this.$props.onMinimize === 'function') {
                    this.$props.onMinimize();
                }
            }
            , markMinimized() {
                this.setAll(false);
                this.isMinimized = true;
                if (typeof this.$props.onMinimized === 'function') {
                    this.$props.onMinimized();
                }
            }
            , markExpand() {
                this.setAll(false);
                this.isExpanding = true;
                if (typeof this.$props.onExpand === 'function') {
                    this.$props.onExpand();
                }
            }
            , markExpanded() {
                this.setAll(false);
                this.isExpanded = true;
                if (typeof this.$props.onExpanded === 'function') {
                    this.$props.onExpanded();
                }
            }

            , closePanel() {
                if (typeof this.$props.close === 'function') {
                    this.$props.close();
                }
            }
        }
    }
</script>

<style scoped>

</style>
