<template>
    <div class="d-flex align-items-start mx-auto">
        <div class="section-sidebar">
            <panel
                :panel-image="user.cover.s"
                panel-image-height="5rem"
                class="align-self-start text-center"
            >
                <div class="panel-avatar">
                    <img
                        alt=""
                        :src="userAvatar"
                        class="rounded-circle card-media"
                    />
                </div>

                <div class="section-sidebar-content">
                    <div>{{ user.display_name }}</div>
                    <strong class="text-muted">Freelancer (ro)</strong>
                </div>

                <hr />

                <div class="text-left">
                    <h6>My teams</h6>

                    <ul class="pl-0 mb-2 no-list-style">
                        <li>
                            <a href="#">Some team</a>
                        </li>
                        <li>
                            <a href="#">Another team</a>
                        </li>
                    </ul>

                    <b-button
                        variant="success"
                        :block="true"
                        v-b-modal.create-project
                    >
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                        Propose a contest
                    </b-button>
                </div>
            </panel>
        </div>
        <div class="feeds">
            <component
                v-for="post in posts.data"
                :key="post.id"
                :is="postTemplate"
                :post="post.post"
            ></component>
        </div>
        <div class="section-sidebar">
            <panel class="align-self-start">
                Interests
            </panel>
        </div>

        <b-modal
            :no-enforce-focus="true"
            id="create-project"
            title="Propose a new project"
            :no-close-on-backdrop="true"
            size="lg"
        >
            <b-form class="add-project-form">
                <b-form-group label="Select a project banner">
                    <upload name="banner"></upload>
                </b-form-group>

                <b-form-group label="Name">
                    <b-form-input
                        type="text"
                        size="sm"
                        v-model="form.title"
                        placeholder="Add a name to your project"
                    />
                </b-form-group>

                <b-form-group label="Subtitle">
                    <b-form-input
                        type="text"
                        size="sm"
                        v-model="form.subtitle"
                        placeholder="Couple of words about your project"
                    />
                </b-form-group>

                <b-form-group label="Description">
                    <editor v-model="form.description"></editor>
                </b-form-group>

                <b-form-group label="Project duration">
                    <date-picker
                        v-model="duration"
                        :first-day-of-week="1"
                        lang="en"
                        placeholder="Project duration"
                        class="w-100"
                        range
                        :not-before="new Date()"
                        format="MMM Do, YYYY"
                        input-class="form-control form-control-sm"
                    ></date-picker>
                </b-form-group>

                <b-form-group>
                    <b-button variant="primary" size="sm">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        Milestone
                    </b-button>
                </b-form-group>
            </b-form>

            <template slot="modal-footer">
                <b-button size="sm">Cancel</b-button>
                <b-button
                    size="sm"
                    variant="success"
                    @click.prevent="trySubmitForm"
                    >Save</b-button
                >
            </template>
        </b-modal>
    </div>
</template>

<script>
import ProjectPost from "../components/project/Post";
import Panel from "../components/layout/Panel";
import Upload from "../components/form/Upload";
import DatePicker from "vue2-datepicker";
import Editor from "../components/form/Editor";

export default {
    data() {
        return {
            posts: [],
            errors: [],
            duration: "",
            form: {
                title: "",
                subtitle: "",
                description: ""
            }
        };
    },
    computed: {
        postTemplate() {
            return ProjectPost;
        },
        userAvatar() {
            return window.App.user.avatar._64;
        },
        user() {
            return window.App.user;
        }
    },
    components: {
        ProjectPost,
        Upload,
        Panel,
        DatePicker,
        Editor
    },
    created() {
        window.axios
            .get("/api/v1/posts?include=author")
            .then(response => {
                this.posts = response.data;
            })
            .catch(e => {
                this.errors.push(e);
            });
    },
    methods: {
        trySubmitForm() {
            this.createProject();
        },
        createProject() {
            window.axios
                .post("/api/v1/post", this.$data.form)
                .then(response => console.log(response))
                .catch(e => {});

            alert("Creating ");
        }
    }
};
</script>
