<template>
    <div class="d-flex mx-auto" style="width: 100%;">
        <div class="two-columns">
            <panel
                :panelImage="userCoverImage">
                <div>
                    <img :src="userAvatar" class="card-media" />
                    <div>
                        <h4>{{ user.display_name }}</h4>
                    </div>
                </div>
            </panel>
        </div>
    </div>
</template>

<script>
    import Panel from "../components/layout/Panel";

    export default {
        computed: {
            userCoverImage() {
                return window.App.user.cover ?
                    (window.App.user.cover.xl ? window.App.user.cover.xl : null) :
                    null;
            }
            , userAvatar() {
                return window.App.user.avatar ?
                    (window.App.user.avatar._128 ? window.App.user.avatar._128 : null) :
                    null;
            }
            , user() {
                return window.App.user;
            }
        }
        , components: { Panel }
    }
</script>

<style scoped>

</style>