<template>
    <div>
        <passport-clients></passport-clients>
        <passport-passport-clients></passport-passport-clients>
        <passport-personal-access-tokens></passport-personal-access-tokens>
    </div>
</template>

<script>
    import PassportClients from '../components/passport/Clients';
    import PassportPassportClients from '../components/passport/AuthorizedClients';
    import PassportPersonalAccessTokens from '../components/passport/PersonalAccessTokens';

    export default {
        data() {
            return {}
        }
        , components: {
            PassportClients,
            PassportPassportClients,
            PassportPersonalAccessTokens,
        }
    }
</script>