<template>
    <div class="my-4">
        <app-card class="my-2"
            :media="post.author.avatar._32"
            :title="post.author.display_name"
            :extra="`posted ${fromNowDate(post.created_at)} ago`">
        </app-card>

        <panel
            :panel-image="post.banner._429"
            :title="post.title"
            panel-image-height="15rem"
            :subtitle="post.subtitle">

            <p>{{ post.description }}</p>

            <div class="d-flex justify-content-between mb-2">
                <div v-b-tooltip.hover :title="fullDate(post.start_date)"><i class="fa fa-flag-checkered" aria-hidden="true"></i> Starts
                    <span>{{ calendarDate(post.start_date) }}</span>
                </div>
                <div v-b-tooltip.hover :title="fullDate(post.end_date)">
                    <i class="fa fa-clock-o" aria-hidden="true"></i> {{ duration }} project
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <b style="font-weight: 500;">Interested companies</b>
                    <ul style="list-style: none; padding: 0; margin: 0;">
                        <li>
                            <b-link href="#">Microsoft</b-link>
                        </li>
                        <li>
                            <b-link href="#">Adobe Inc.</b-link>
                        </li>
                        <li>
                            <b-link href="#">Laravel</b-link>
                        </li>
                    </ul>
                </div>
                <div class="col">
                    <b style="font-weight: 500;">Joined</b>
                    <ul style="list-style: none; padding: 0; margin: 0;">
                        <li>
                            <b-link href="#">My amazing team</b-link>
                        </li>
                        <li>
                            <b-link href="#">The pack II</b-link>
                        </li>
                        <li>
                            <b-link href="#">We wreck stuff</b-link>
                        </li>
                    </ul>
                </div>
            </div>

            <template slot="footer">
                <app-card :media="ownAvatar">
                    <template>
                        <b-form-input placeholder="Comment"></b-form-input>
                    </template>
                </app-card>
            </template>

        </panel>
    </div>
</template>
<script>
    import Panel from '../layout/Panel';
    import Card from '../layout/Card';

    export default {
        props: [ 'post' ]
        , components: {
            Panel
            , 'app-card': Card
        }
        , computed: {
            duration() {
                let start = moment(this.post.start_date)
                    , end = moment(this.post.end_date);

                return moment.duration(end.diff(start)).humanize();
            }
            , ownAvatar: () =>  window.App.user.avatar._32
        }
    }
</script>

