<template>
    <div class="align-items-start flex-column list-container">
        <transition-group name="vertical-list" tag="ul" class="list">
            <li class="list-item" v-for="item in data" :key="item.id">
                <a href="#" class="d-flex" @click.prevent="click(item)">
                    <component :is="displayComponent" :data="item"></component>
                </a>
            </li>

            <infinite-loading :key="`infinite-loader${unique}`" @infinite="loadMore" spinner="spiral">
                <template slot="no-more">No more conversations</template>
            </infinite-loading>
        </transition-group>

        <nav class="navbar navbar-dark app-bg actions-nav-bar d-flex justify-content-between">
            <form class="search-friends">
                <input :class="['form-control form-control-sm mr-auto', { empty: !searchTerm }]" type="search" placeholder="Search" aria-label="Search" v-model="searchTerm" @keyup="doSearch">
            </form>
            <div class="actions">
                <button class="btn btn-sm icon-btn"><i class="fa fa-cog" aria-hidden="true"></i></button>
            </div>
        </nav>
    </div>
</template>

<script>
    import uuid from 'uuid/v1';

    export default {
        props: [ 'url', 'displayComponent', 'onItemClick', 'onLoad' ]

        , data() {
            return {
                data: []
                , nextUrl: this.url
                , searchParams: {}
                , searchTerm: ''
                , links: {}
                , meta: {}
                , delaySearch: ''
                , filtersReset: true
            }
        }

        , computed: {
            unique: () => { uuid() }
        }

        , methods: {
            getData(url, successCallback, errorCallback) {
                window.axios.get(url, { params: this.searchParams })
                    .then(res => {
                        if (this.filtersReset) {
                            this.data = [];
                        }

                        res.data.data.forEach(data => {
                            this.data.push(data);
                        });

                        this.links = res.data.links || {};
                        this.meta = res.data.meta || {};

                        this.nextUrl = this.links.next;

                        if (typeof successCallback === 'function') {
                            successCallback(res.data);
                        }

                        this.filtersReset = false;

                        if (typeof this.onLoad === 'function') {
                            this.onLoad(res.data.data);
                        }
                    })
                    .catch(e => {
                        if (typeof errorCallback === 'function') {
                            errorCallback(e);
                        }
                    });
            }

            , loadMore(loadingState) {
                if (this.nextUrl) {
                    this.getData(this.nextUrl, () => {
                        loadingState.loaded();
                    });
                } else {
                    loadingState.complete();
                }
            }

            , doSearch() {
                clearTimeout(this.delaySearch);

                this.delaySearch = setTimeout(function() {
                    this.searchParams = {
                        search: this.searchTerm
                    };

                    this.resetFilters();
                    this.loadMore();
                }.bind(this), 250);
            }

            , resetFilters() {
                this.nextUrl = this.url;
                this.filtersReset = true;
            }

            , click(data) {
                if (typeof this.onItemClick === 'function') {
                    return this.onItemClick(data);
                }
            }
        }
    }
</script>