<template>
    <div class="d-flex align-items-start mx-auto">
        <div class="two-columns">
            <panel header="Add a new project" :actions="false">
                <form method="post" enctype="multipart/form-data" class="add-project-form" @submit.prevent="createProject">
                    <div class="form-group">
                        <label>Select a project banner image</label>
                        <upload name="banner"></upload>
                    </div>

                    <div class="form-group">
                        <label for="project-name">Name</label>
                        <input type="text" class="form-control" id="project-name" placeholder="Add a name to your project">
                    </div>

                    <div class="form-group">
                        <label for="project-subtitle">Subtitle</label>
                        <input type="text" class="form-control" id="project-subtitle" placeholder="Couple of words about your project">
                    </div>

                    <div class="form-group">
                        <label>Description</label>
                        <editor></editor>
                    </div>

                    <div class="form-group">
                        <label>Project duration</label>
                        <date-picker
                            v-model="duration"
                            :first-day-of-week="1"
                            lang="en"
                            placeholder="Project duration"
                            class="w-100"
                            range
                            :not-before="new Date()"
                            format="MMM Do, YYYY"
                            input-class="form-control"></date-picker>
                    </div>
                </form>
            </panel>
        </div>
        <div class="section-sidebar"></div>
    </div>
</template>

<script>
    import Panel from '../../components/layout/Panel';
    import Upload from '../../components/form/Upload';
    import DatePicker from 'vue2-datepicker'
    import Editor from '../../components/form/Editor';

    export default {
        name: "Add"
        , data() {
            return {
                duration: ''
            }
        }
        , components: {
            Upload
            , DatePicker
            , Editor
            , Panel
        }
        , methods: {
            validateForm() {
                alert('Validating');
            }
            , createProject() {
                alert('Saved');
            }
        }
    }
</script>