<template>
    <app-card
        :media="data.avatar._32"
        :extra="extraMessage"
    >
        <div class="text-truncate d-flex">
            <span class="title text-truncate mr-auto">{{ data.display_name }}</span>
            <span style="font-size: 80%;" v-if="data.last_message">
                {{ fromNowDate(data.last_message.date) }}
            </span>
        </div>
    </app-card>
</template>

<script>
    import Card from '../layout/Card';

    export default {
        props: [ 'data' ]

        , computed: {
            extraMessage() {
                return (typeof this.data.last_message !== 'undefined'
                    && typeof this.data.last_message.body !== 'undefined') ? this.data.last_message.body : '';
            }
        }

        , components: {
            'app-card': Card
        }
    }
</script>